<div class="content-section-b">
	<div class="container col-lg-10">
		<div class="row">
			<h1>{{$ctrl.user.username}}</h1> <span ng-show="$ctrl.currentUser == $ctrl.user.id"><a href="#!/user/{{$ctrl.user.id}}/edit" class="btn btn-primary">Edit Your Profile</a></span>
			<hr>
			<div>
				<h4>About {{$ctrl.user.username}}:</h4>
				<span style="white-space:pre-wrap;">{{$ctrl.user.description}}</span>
			</div>
			<hr>
			
			<h4>Characters:</h4>
			<div ng-show="$ctrl.user.characters.length">
				
				<ul class="characters">
				  <li ng-repeat="character in $ctrl.user.characters">
					{{character.name}}
				  </li>
				</ul>
			</div>
			<div ng-show="!$ctrl.user.characters.length">
				No characters yet!
			</div>
			<hr>
			
			<h4>Stories:</h4>
			<div ng-show="$ctrl.user.stories.length">
				<ul>
					<li ng-repeat="story in $ctrl.user.stories">
						<h4><a href="#!/story/{{story.id}}">{{story.title}}</a></h4>
						{{story.description.substr(0,100)}}
					</li>
				</ul>
			</div>
			<div ng-show="!$ctrl.user.stories.length">
				No stories yet!
			</div>
			<hr>
			
			<h4>Contributions:</h4>
			<ul ng-show="$ctrl.user.contributions.length">
				<li ng-repeat="contribution in $ctrl.user.stories">
					<a href="#!/contribution/{{contribution.id}}">{{contribution.title}}</a> in {{contribution.story.description}}
				</li>
			</ul>
			<div ng-show="!$ctrl.user.contributions.length">
				No contributions yet!
			</div>
		</div>
	</div>
</div>