<div class="content-section-b">
	<div class="container">
        <div class="row" ng-controller="EditStoryController">
            <div class="col-md-8">
                <h3>Edit story</h3>
                <div id="messages" class="alert alert-danger" ng-show="message">
				    {{message}}
				</div>
                <form name="editStory" id="editStory" novalidate ng-submit="updateStory(editStory.$valid)">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Title:</label>
							<input id="title" name="title" class="form-control" type="text" maxlength="1000" value="" placeholder="Story Title" ng-model="formData.title" autofocus required />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Description:</label>
							<textarea rows="10" cols="100" id="description" name="description" placeholder="A short description of your story" class="form-control" ng-model="formData.description"></textarea>
                        </div>
                    </div>

					<div class="control-group form-group">
						<div class="controls">
								<label>Genre:</label>
								<input id="genre" name="genre" class="form-control" type="text" placeholder="The genre of the story" maxlength="250" value="" ng-model="formData.genre"/>
						</div>
					</div>

					<div class="control-group form-group">
						<div class="controls">
							<input id="visible" name="visible" type="checkbox" value="1" checked ng-model="formData.visible" />
							<label for="visible">Visible</label>
						</div>
					</div>

					<div class="control-group form-group">
						<div class="controls">
							<input id="invite" name="invite" type="checkbox" value="1" ng-model="formData.inviteOnly"/>
							<label for="invite">Invite Only</label>
						</div>
					</div>

                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" ng-disabled="createStory.$invalid">Save Story</button><a href="#!/home" class="btn btn-link">Cancel</a>
                </form>
            </div>
        </div>
        <!-- /.row -->
	</div>
</div>
