<div class="content-section-b">
	<div class="container">
		<div class="row">
			<h1>{{$ctrl.story.title}}</h1>
			<hr>
			<div class="row">
			  <div class="col-lg-12">
			    <ul class="list-inline">
			      <li>Started by <a href="#!/user/{{$ctrl.story.owner.id}}">{{$ctrl.story.owner.username}}</a></li>
			      <li class="menu-divider">&sdot;</li>
			      <li>Genre: {{$ctrl.story.genre}}</li>
			      <li class="menu-divider">&sdot;</li>
			      <li ng-show="$ctrl.story.contributors.length">Contributors: {{$ctrl.story.contributors.length}}</li>
			      <li ng-show="!$ctrl.story.contributors.length">No Contributors Yet</li>
			      <li ng-show="$ctrl.currentUser == $ctrl.story.owner.id"><a href="#!/story/{{$ctrl.story.id}}/edit" class="btn btn-primary">Edit Story Details</a></li>
			      <li ng-show="($ctrl.currentUser != $ctrl.story.owner.id) && !$ctrl.story.inviteOnly && !($ctrl.story.contributors.includes($ctrl.currentUser))"><a href="#!/joinStory/{{$ctrl.story.id}}" class="btn btn-primary">Join Story</a></li>
			      <li ng-show="($ctrl.currentUser == $ctrl.story.owner.id) || ($ctrl.story.contributors.includes($ctrl.currentUser))"><a href="#!/story/{{$ctrl.story.id}}/contribute" class="btn btn-primary">Write A Contribution</a></li>
			    </ul>
			    <ul class="list-inline">
			      <li ng-show="!$ctrl.story.visible">Not Visible to Others</li>
			      <li ng-show="$ctrl.story.visible">Public</li>
			      <li class="menu-divider">&sdot;</li>
			      <li ng-show="$ctrl.story.inviteOnly">Invite Only</li>
			      <li ng-show="!$ctrl.story.inviteOnly">Open to Join</li>
			    </ul>
			  </div>
			</div>
			<p style="white-space:pre-wrap;">{{$ctrl.story.description}}</p>
			<hr>
			
			<div ng-show="$ctrl.story.characters.length">
				<h3>Characters:</h3>
				<ul class="characters">
				  <li ng-repeat="character in $ctrl.story.characters">
					<a href="#!/character/{{character.id}}">{{character.name}}</a>
				  </li>
				</ul>
			</div>
			
			<h3>The Story:</h3>
			<div ng-show="$ctrl.story.contributions.length">
				<!-- Add some previous/next buttons here and implement a filter -->
				<div ng-repeat="contribution in $ctrl.story.contributions">
					<h4>{{contribution.title}}</h4>
					<div class="row" style="white-space:pre-wrap;">{{contribution.body}}</div>
				</div>
			</div>
			<div ng-show="!$ctrl.story.contributions.length">
				No contributions yet!
			</div>
		</div>
	</div>
</div>