	<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline" ng-show="!authenticated">
                        <li>
                            <a href="index.html#!">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#newStories">New Stories</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li ng-show="!authenticated">
                            <a href="#!/register">Register</a>
                        </li>
                        <li class="footer-menu-divider" ng-show="!authenticated">&sdot;</li>
                        <li ng-show="!authenticated">
                            <a href="#!/login">Login</a>
                        </li>
                     </ul>
                     <ul class="list-inline" ng-show="authenticated">
                        <li>
	                		<a href="#!/home">My Home</a>
	                	</li>
	                	 <li class="footer-menu-divider">&sdot;</li>
	                	<li>
	                		<a href="">Edit Profile</a>
	                	</li>
	                	 <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	<a href="" ng-click="logout()">Logout</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li id="footerLoggedInUser">
                        	Logged in as {{user.name}}
                        </li>
                    </ul>
                    <p class="copyright text-muted small">CSCI4830 - Original Characters 2016</p>
                </div>
            </div>
        </div>
    </footer>